@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Fira Sans', sans-serif;
    margin:0px 192px;
    background-color:#F5F5F5 ;
}
/*nav section*/
nav{
    width: 1476px;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
button{
    
        font-family: 'Fira Sans', sans-serif;
    
}
nav p{
    width: 222px;
height: 38px;
color: rgb(14, 14, 14);
font-family:fira sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
text-align: left;
}
nav button{
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
text-align: left;
width: 56px;
height: 22px;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
width: 116px;
height: 52px;
text-align: center;

}
.head1{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 24px;
background: rgb(198, 228, 214);
padding:80px 100px;
height: 560px;
width: 1280px;
}
.head2 p{
    width: 622px;
height: 29px;
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
text-align: left;
margin-bottom:0px;
}
.head2 h1{
    width: 622px;
height: 201px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
margin-top:16px;
margin-bottom:24px;

text-align: left;
}
.head2 button{
    margin-top:0px ;
    width: 202px;
height: 22px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 270px;
height: 56px;
border-radius: 8px;
background: rgb(0, 106, 80);
text-align: center;
border: none;
}

.first h1{
    width: 1280px;
    height: 48px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
}
.first .f1{
    display:flex;
    gap:24px;
}
.first .f1>div{
    width: 357px;
height: 244px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
display: flex;
flex-direction: column;

align-items:start;
padding:24px;
padding-left:50px;
}
.f1 p{
    width:254px;
    height:72px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
}
.f1 h3{
    width: 254px;
height: 24px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom:0px;
}
.first{
    margin-top:80px;
}
.second{
    display: flex;
    flex-direction: column;
    
}
.s1{
    display: flex;
    gap:24px;
}
.s1 div{
    width: 487px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
      padding:24px;
      padding-left:55px;
      align-self: stretch;

}
.s1>div p{
    width: 416px;
height: 72px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.s1>div h3{
    width: 420px;
height: 24px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
}
.s1>div button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;

width: 122px;
height: 41px;
}
.s1 .card1{
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
}
.s1 .card1 button{
    border-radius: 8px;
background: rgb(84, 144, 245);
border:none;
}
.s1 .card2{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
}
.s1 .card2 button{
    border-radius: 8px;
background: rgb(9, 161, 92);
border:none;
}
.s1 .card3{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
}
.s1 .card3 button{
    border-radius: 8px;
background: rgb(255, 194, 57);
border:none;
}
.second h1{
    width: 1280px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;

text-align: left;
margin-bottom:24px;
}
.second p{
    margin-top: 0px;
    margin-bottom: 32px;
    width: 1280px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.three{
    margin-top:24px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 40px 130px;
background: url("assets/quote-bg.png");
background-repeat: no-repeat;
background-position: 130px 30px; 

}
.t1{
    width: 1230px;
    height: 96px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom:16px;

}
.three h1{
    width: 1232px;
height: 24px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
margin-top:0px;
margin-bottom:8px;
text-align: left;
}
.t2{
    width: 1232px;
height: 24px;
color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-top:0px;
text-align: left;
}
.four{
    margin-top:80px;
}
.four h1{
    width: 1280px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
}
.tr1{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
width: 1530px;
height: 72px;
margin-bottom:0px;
}

.fo1{
    width: 1400px;
    height: 92px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
padding-left:24px;

}
table{
    width: 1530px;
    border-collapse: collapse;
}
.fo2{
    width: 200px;
height: 92px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
display: flex;
justify-content: center;
align-items: center;
}
.four ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     list-style: none;
     align-items: center;
     
}
.four button{
    text-align: center;
    box-sizing: border-box;
border: 1px solid rgb(14, 14, 14);
border-radius: 4px;

background: rgba(9, 161, 92, 0.15);
width: 152px;
height: 44px;
margin-left:24px;

}
.fo4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fo3 img{
    height:14px;
    width:14px;
}
.fo3{
    padding-top:5px;
    padding-left:5px;
}
.five{
    margin-top:80px;
}
.five .h1{
    width: 1280px;
    height: 48px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin-bottom:24px;
margin-top:0px;
}
.five .p{
    width: 1500px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.five1 h1{
    width: 744px;
height: 38px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
text-align: left;
margin-bottom:0px;
}
.five1 .icon1{
    width: 134px;
height: 40px;
margin-top:12px;
}
.five1 .para1{
    display:flex;
    gap:12px;
    align-items: center;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom:0px;
}
.para2{
    width: 744px;
height: 72px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top:0px;
}
.five1 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
width: 139px;
height: 48px;
background: rgb(0, 106, 80);
border:none;
text-align: center;
margin-top:14px;
}
.fivem{
    display: flex;
    width: 1535px;
height: 402px;
    border-radius: 24px;

background: rgb(255, 255, 255);
align-items: center;
justify-content:space-between;
margin-bottom:24px;

}
.fivem1{
    padding-left:100px;
}
.image{
    padding-right:100px;
}
 .six{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1500px;
 }
 .six h1{
    width: 1280px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
 }
 .six p{
    height: 48px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
 }
 
 .six .btn button{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
margin-left:25px;
background: rgb(255, 255, 255);
width: 340px;
height: 128px;
 }
 .six input{
    height: 64px;
    box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
width: 1450px;
margin-top:32px ;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-left:30px;
border:none;
 }
 .six .btn2{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
width: 151px;
height: 56px;
background: rgb(0, 106, 80);
margin-top:32px;
margin-bottom:80px;
 }
 .seven{
    width:1500px;
    height: 395px;
    border-radius: 24px;

background: rgb(198, 228, 214);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
 }
 .seven h1{
    width: 622px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-bottom:16px;
 }
 .seven p{
    margin-top:0px;
    width: 622px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom:0px;
text-align: center;
 }
 .seven input{
    width: 600px;
height: 55px;
border-radius: 8px 0px 0px 8px;
text-align: left;
padding-left:50px;
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;

border: none;
margin-right:0px;
margin-bottom:24px;
margin-top:24px;
 }
 .seven button{
    width: 150px;
height: 56px;
border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;

text-align: center;
border: none;
margin-left:-4px;
 }
 footer{
    margin-top:80px;
    text-align: center;
 }
 footer h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    
 }
 footer ul{
    display: flex;
    
     align-items: center;
     justify-content: center;
     list-style:none;
     gap:23px;
 }

